.btn-primary {                             // СОЗДАТЬ MIXIN
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: $button-primary-color;
  color: $text-secondary-color;
  font-size: $button-primary-font-size;
  font-weight: $button-primary-font-weight;
}

.btn-primary:hover {
  background-color: $button-primary-color;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}