.header {
  max-width: 1440px;
  border: 1px solid black; // УДАЛИТЬ
}

.container {
  margin: 0 auto;
}

.navbar {
  max-width: 1170px;
  border: 1px solid black; // УДАЛИТЬ
}

.navbar-nav {
  margin-left: 3.8rem;
}

@media (max-width: 768px) { // IPad

}

@media (max-width: 376px) { // Mobile

}
