.navbar {
  padding: 0 8.4rem;
  width: 100%;
  height: $header-hight-desktop;
  background-color: $header-bg-color-light;
}

body.dark .navbar {
  background-color: $header-bg-color-dark;
}

.navbar-nav {
  margin-left: 3.8rem;
}

.navbar-brand {
  margin-right: 4.8rem;
}

.navbar-light .navbar-nav .nav-link {
  font-size: $header-font-size-desktop;
  font-weight: $header-font-weight-desktop;
  color: $header-color-light;

  &:hover {
    color: $color-orange;
  }
}

body.dark .navbar-light .navbar-nav .nav-link {
  color: $header-color-dark;

  &:hover {
    color: $color-orange;
  }
}

.navbar-light .navbar-toggler {
  order: 2;
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  transition: none;
}

.btn-switсher {
  padding: 0;
}

// Responsive
@media (max-width: 1200px) {
  .navbar {
    padding: 0 2.5rem;
  }
}

@media only screen and (max-width: 1124px) and (min-width: 320px) {
  .navbar-nav {
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .navbar-logo {
    width: 7rem;
    height: auto;
  }

  .nav-link {
    font-size: $header-font-size-tablet;
    font-weight: $header-font-weight-tablet;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: $header-hight-tablet;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    font-size: $header-font-size-tablet;
    font-weight: $header-font-weight-tablet;
  }

  .navbar-brand {
    margin-right: 1.75rem;
  }
}

@media (max-width: 376px) {
  .navbar {
    padding: 0 0.9rem;
    height: $header-hight-mobile;
  }

  .navbar-logo {
    width: 8rem;
    height: auto;
  }
}

@media (min-width: 870px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.9rem;
    padding-left: 0.9rem;
  }
}