body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  //max-width: 1440px;
  margin: auto;
}

.btn-primary {
  width: 150px;
  height: 50px;
  margin-top: 0;
  border: none;
  border-radius: 5px;
  background-color: $button-primary-color;
  color: $text-third-color;
  font-size: $button-primary-font-size;
  font-weight: $button-primary-font-weight;
  text-transform: capitalize;
  &:hover {
    background-color: $button-primary-color;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
}

.text-orange {
  color: $color-orange;
}

.section__heading {
  color: $headings-color;
  font-size: $headings-font-size;
  font-weight: $headings-font-weight;
  text-transform: capitalize;
}

.section__title {
  color: $titles-color;
  font-size: $titles-desktop-font-size;
  font-weight: $titles-font-weight;
  text-transform: capitalize;
}

.section__text {
  color: $section-text-color;
  font-size: $section-text-font-size;
  font-weight: $section-text-font-weight;
}

.text-capitalized {
  text-transform: capitalize;
}

.text-lowercased {
  text-transform: lowercase;
}

@media (max-width: 768px) {
  .section__title {
    font-size: $titles-tablet-font-size;
  }
}

@media (max-width: 376px) {
  .section__title {
    font-size: $titles-mobile-font-size;
    font-weight: $titles-mobile-font-weight;
  }
}

// Mixins

@mixin block-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}