.clients-feedback-section__main-container {
  background-color: $bg-primary-color;
  border: 1px solid $bg-primary-color;
}

.clients-feedback-section__container {
  margin: 3.75rem 8.4rem;
}

.clients-feedback-section__heading {
  margin-bottom: 1.5rem;
  text-align: center;
}

.clients-feedback-section__title {
  margin-bottom: 3.75rem;
  text-align: center;
}