.our-work-section__main-container {
  background-color: $bg-secondary-color;
}

.our-work-section__container {
  margin: 7.5rem 8.4rem;
}

.our-work-section__heading {
  margin-bottom: 1.5rem;
  text-align: center;
}

.our-work-section__title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.tabs {
  max-width: 1170px;
}

.tabs__items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto 3.75rem;
  max-width: 610px;
  overflow: hidden;
}

.tabs__item {
  font-size: $font-size-m;
  font-weight: $medium-font-weight;
  color: $text-secondary-color;
  text-transform: capitalize;
  text-decoration: none;
}

.tabs__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 370px 470px;
  grid-gap: 30px;
}

.tabs__block-all-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
}

.tabs__block-all-project1 {
  position: relative;
}

.tabs__block-all-project2 {
  align-self: start;
  height: 470px;
}

.tabs__block-all-project5 {
  align-self: end;
  height: 370px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: $text-third-color;
  z-index: 5;
}

.overlay__icon {
  margin-bottom: 1.7rem;
  width: 33.86px;
  height: 33.86px;
}

.overlay__title {
  margin-bottom: 1.1rem;
  font-size: $font-size-l;
  font-weight: $medium-font-weight;
  text-align: center;
}

.overlay__subtitle {
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  text-align: center;
}

@media (max-width: 1220px) {
  .our-work-section__container {
    margin: 7.5rem 2.5rem;
  }

  .our-work-section__heading {
    margin-bottom: 1.1rem;
  }

  .tabs__block {
    grid-auto-rows: 230px 250px;
    grid-gap: 24px;
  }

  .tabs__block-all-project2 {
    align-self: start;
    height: 280px;
  }

  .tabs__block-all-project5 {
    align-self: end;
    height: 200px;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 576px) {
  .our-work-section__container {
    margin: 3.1rem 1rem;
  }

  .tabs__block {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 370px;
    grid-row-gap: 25px;
  }

  .tabs__items {
    margin: 0 auto 3.1rem;
    overflow: hidden;
  }

  .tabs__item {
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    text-align: center;
  }

  .tabs__block-all-project2,
  .tabs__block-all-project4,
  .tabs__block-all-project6 {
    height: 450px;
  }

  .tabs__block-all-project5 {
    height: 370px;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .overlay__title {
    margin-bottom: 0.5rem;
    font-size: $font-size-xl;
    font-weight: $semi-bold-font-weight;
  }
}

//.tabs__body {
//  position: relative;
//}

//.tabs__block {
//  display: none;
//}