.about-us-section__main-container {
  background-color: $bg-secondary-color;
}

.about-us-section__container {
  display: flex;
  flex-direction: column;
  margin: 7rem 8.4rem 7rem 3.9rem;
}

.about-us-section__description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-bottom: 3.75rem;
}

.about-us-section__container-left {
  width: 55%;
}

.about-us-section__main-image {
  width: 684px;
  height: auto;
}

.about-us-section__container-right {
  width: 45%;
}

.about-us-section__heading,
.about-us-section__title,
.about-us-section__text {
  margin-bottom: 1.5rem;
}

.about-us-section__advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 4.5rem;
}

.about-us-section__advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem 1.3rem 1.5rem;
  width: 270px;
  height: 200px;
  background-color: $color-white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.about-us-section__advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.2rem;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: $color-grey-light;
}

.about-us-section__advantages-item:hover {
  .about-us-section__advantages-icon {
    background-color: red;
  }
}

.about-us-section__advantages-name {
  color: $text-primary-color;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  text-align: center;
}