.about-us-section__main-container {
  padding: 7rem 8.4rem 7rem 3.9rem;
  background-color: $bg-secondary-color;
}

.about-us-section__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}

.about-us-section__description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-bottom: 3.75rem;
}

.about-us-section__container-left {
  width: 55%;
}

.about-us-section__container-right {
  width: 45%;
}

.about-us-section__heading,
.about-us-section__text {
  margin-bottom: 1.5rem;
}

.about-us-section__title {
  margin-bottom: 1.1rem;
}

.about-us-section__advantages {
  display: inline-flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-left: 4.5rem;
}

.about-us-section__advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem 1.3rem 1.5rem;
  width: 270px;
  height: 200px;
  background-color: $color-white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.about-us-section__advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.2rem;
  min-width: 70px;
  min-height: 70px;
  border: none;
  border-radius: 50%;
  background-color: $color-grey-light;
}

.about-us-section__advantages-item:hover {
  .about-us-section__advantages-icon {
    background-color: red;
  }
}

.about-us-section__advantages-name {
  color: $text-primary-color;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  text-align: center;
}

@media (max-width: 1250px) {
  .about-us-section__main-container {
    padding: 7rem 2.5rem 7rem 2.5rem;
  }

  .about-us-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us-section__advantages {
    display: inline-flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 688px;
  }

  .about-us-section__description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 5.25rem;
  }

  .about-us-section__heading {
    margin-bottom: 1.1rem;
  }

  .about-us-section__advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.1rem 0.8rem 1.1rem 0.8rem;
    width: 154px;
    height: 200px;
    background-color: $color-white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }

  .about-us-section__advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    min-width: 50px;
    min-height: 50px;
    border: none;
    border-radius: 50%;
    background-color: $color-grey-light;
  }

  .tablet-mobile-hidden {
    display: none;
  }
}

@media (max-width: 700px) {
  .about-us-section__main-container {
    padding: 3.1rem 1rem 1.54rem 1rem;
  }

  .about-us-section__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 3.1rem;
  }

  .about-us-section__container-left {
    width: 100%;
    margin-bottom: 3rem;
  }

  .about-us-section__container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .about-us-section__advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
  }

  .about-us-section__advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.56rem;
    padding: 1.5rem 3rem 1.1rem 3rem;
    width: 343px;
    height: 200px;
    background-color: $color-white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }

  .about-us-section__advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.3rem;
    min-width: 70px;
    min-height: 70px;
    border: none;
    border-radius: 50%;
    background-color: $color-grey-light;
  }

  .about-us-section__advantages-name {
    color: $text-primary-color;
    font-size: $font-size-m;
    font-weight: $medium-font-weight;
    text-align: center;
  }

  .tablet-mobile-hidden {
    display: none;
  }
}