// Global colors

$color-grey-light: #7B7B7B;
$color-grey-middle: #3A3B3C;
$color-grey-dark: #373737;
$color-grey-deep: #242526;
$color-black: #18191A;
$color-white: #FFFFFF;
$color-orange-light: #FFF7F4;
$color-orange: #FF5300;
$color-blue: #00ACFF;

// Global fonts

$font-size-xxs: 0.6rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-s: 1rem; // 16px
$font-size-m: 1.25rem; // 20px
$font-size-l: 1.56rem; // 25px
$font-size-xl: 1.9rem; // 31px
$font-size-xxl: 2.4rem; // 39px
$font-size-xxxl: 3rem; // 48px